@page "/"
@inherits HomeBase

<PageTitle>Home</PageTitle>

<h3>Backend Server Status</h3>
<button class="btn btn-success btn-sm float-end" @onclick="async() => await RefreshAsync(true)">Refresh</button>

<pre>
@Result
</pre>