@page "/user-info"
@inherits UserPageBase

<h3>User Information</h3>

@if (SessionCache.IsAuthenticated)
{
    <div>
        <label><strong>Username</strong>: @SessionCache.Session?.Username | <strong>Connection ID:</strong> @SessionCache.Session?.ConnectionId | <strong>Started:</strong> @SessionCache.Session?.StartTime </label>
        <button class="btn btn-danger btn-sm float-end" @onclick="async () => await DisconnectAsync()">Disconnect</button>
    </div>
}
else
{
    <label>Connect to SignalR hub by entering your username:</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter username" @bind="Username" />
            <button class="btn btn-success btn-sm" @onclick="async () => await ConnectAsync()">Connect</button>
        </div>
    </div>
}
