@page "/user-info"
@inherits UserPageBase

<h3>User Information</h3>

@if (Cache.IsAuthenticated)
{
    <div>
        <label><strong>Username</strong>: @Username | <strong>Connection ID:</strong> @Cache.Session?.ConnectionId | <strong>Started:</strong> @Cache.Session?.StartTime </label>
        <button class="btn btn-danger btn-sm float-end" @onclick="async () => await DisconnectAsync()">Disconnect</button>
    </div>
}
else
{
    <label>Please enter your username to start:</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter username" @bind="Username" />
            <button class="btn btn-success btn-sm" @onclick="async () => await StartAsync()">Enter Chat</button>
        </div>
    </div>
}
